
:root {
  /* COLOURS */
  --pistachio: rgb(224, 226, 205); /* #E0E2CD */
  --blossom: rgb(223, 189, 165);   /* #DFBDA5 */
  --brick: rgb(220, 93, 60);       /* #DC5D3C */
  --khaki: rgb(129, 128, 33);      /* #818021 */
  --denim: rgb(42, 95, 140);       /* #2A5F8C */
  --kohl: rgb(0, 0, 0);            /* #000000 */
  --chalk: rgb(255, 255, 255);     /* #FFFFFF */

  /* FONTS */
  --font-display: "GT Super Display", Georgia, "Times New Roman", serif;
  --font-body: "Futura Medium", "Futura", "Helvetica Neue", Arial, sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--pistachio);
  color: var(--kohl);
}


body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
